* {
  box-sizing: content-box;
}

:root {
  --small_text: #4d4a4a;
  --button_grey: #e1e1e1;
}
body {
  padding: 0px;
  margin: 0px;
}

ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: #e1e1e1 1px solid;
  list-style-type: none;
  padding: 0.5vw;

  margin: 0px;
}

.nav_left {
  background-color: #f0f0f0;
  border-radius: 5px 5px;
  width: 30vw;
  padding-left: 1vw;
  color: var(--small_text);
  padding: 0.5vw;
}
.nav_center {
  padding: 0.5vw;
  font-size: 20px;
  width: 20vw;
}

.nav_right {
  display: flex;
  text-align: center;
  align-items: baseline;
}

.nav_right li {
  margin-right: 1vw;
  padding: 0.5vw;
  padding-right: 2vw;
  padding-left: 2vw;
  border-radius: 10px 10px;
}

.nav_right li:first-child {
  background-color: red;
  color: white;
}
.nav_right li:nth-child(2) {
  background-color: var(--button_grey);
}
.nav_right li:nth-child(3) {
  border: var(--button_grey) solid 1px;
  padding: 3px;
  height: 10px;
  width: 10px;
}

/* BEER CARD */
.beer_card {
  width: 50vw;
  margin-left: auto;
  margin-right: auto;
}
.beer_card article {
  text-align: center;
}
h1 {
  font-size: 25px;
}
h2 {
  font-size: 15px;
  color: var(--small_text);
}
.info_line {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
